    body {
        -webkit-font-smoothing: antialiased;
        -moz-font-smoothing: grayscale;
    }


    .ui > .row .ui.item.menu {
        border: none;
    }

    .ui > .row .ui.item.menu .item {
        background-image: linear-gradient(to bottom, #f5f5f5 0, #e5e5e5 100%);
        border: .07rem solid #d5d5d5;
        border-left-color: white;
    }

    .ui > .row .ui.item.menu .item.active {
        border-left: 0rem none #777777;
        box-shadow: inset .07rem .29rem .5rem rgba(0, 0, 0, 0.15);
    }

    .ui .row .ui.center.aligned.container h1 {
        font-size: 4.5rem;
    }

    .ui .row .ui.center.aligned.container p {
        font-size: 1.5rem;
        line-height: 1.5;
    }

    .ui > .three.column.row h1 {
        font-size: 2.14rem;
    }


    .ui.bottom.attached.segment {
        min-height: 100vh;
    }

    .ui.center.aligned.container h2{
        font-size:4.5rem;
    }


    .bigimg-custom-size img{

        max-width: 100%;
    }


    strong {
      font-weight: bold;
    }

    footer {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }


    #map_computer {
        height: 28.6rem;
        width: 100%;
        position: relative;
   }

   #map_mobile {
        height: 28.6rem;
        width: 100%;
   }


    .ui.center.aligned.container h2 {
        color: #66cc00;
    }

    /*-- define Rocher font --*/
    @font-face {
      font-family: 'Rocher';
      src: url(../fonts/RocherColorGX.woff2);
    }
    .ui.large.header {
      font-family: 'Rocher';
      font-size: 3.6rem;
    }

    /*-- define the palette --*
    @font-palette-values --Mint {
      font-family: Rocher;
      base-palette: 7;
    }

    /* use the palette *
    .mint {
      font-palette: --Mint;
    }*/


